html, body {
  color: #fff;
  font-family: 'Lato';
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
  background: rgb(179,220,237); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
}

#mainContent {
    margin-top: 7%;
}

.cursor {
  height: 16px;
  background-color: white;
  width: 8px;
  display: inline-block;
  vertical-align: middle;
}

.cursor.hidden {
  display: none;
}

/*col-sm-12*/
@media (min-width: 544px){
  #links {
    float: left;
    width: 100%;
    text-align: center;
  }

  #mainInfo {
    text-align: center;
  }
}

/*col-md-6*/
@media (min-width: 768px) {
  #links {
    text-align: right;
    width: 50%;
  }

  #mainInfo {
    text-align: left;
  }
}

.subtitle {
  font-style: italic;
}

.emphasis {
    font-weight: bold;
}

.emphasis2 {
  font-style: italic;
}
